button {
  line-height: 1.5;
  cursor: pointer;
  background-color: var(--btn-bg-color);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  font-size: var(--btn-text-size);
  color: var(--btn-text-color);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
  padding: var(--btn-paddings);
  box-shadow: 0 1px 0 0 #cecece;
  transition: opacity 0.3s ease-in-out;
}

button.disabled {
  background-color: var(--btn-bg-disabled-color);
}

button:hover {
  opacity: 0.7;
}

.date-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.date-field {
  line-height: 1.5;
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-paddings);
  min-width: 300px;
}

.date-field.today {
  border-color: #64b5e4;
}

