:root {
  --btn-paddings: 5px 10px;
  --btn-radius: 4px;
  --btn-border: 1px solid #ccc;
  --btn-bg-color: #fefefe;
  --btn-bg-disabled-color: #ccc;
  --btn-text-color: #b6b6b6;
  --btn-text-disabled-color: #818aaa;
  --btn-text-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
